* {
    box-sizing: border-box;
}

html, body {
    background: #36393F;

    color: #EEEEEE;
    font-family: $sans-serif;
    font-size: 16px;
    line-height: 22px;
}

p {
    margin: 0;
}

input {
    filter: none;
}

:focus,
:active {
    outline: none !important;
}

:-moz-focusring {
    outline: none !important;
}

::-moz-focus-inner {
    border: 0;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid,
:-moz-ui-invalid {
    box-shadow: none;
}

input:-webkit-autofill {
    transition-delay: 1e9s;
    transition-property: background-color, color;
}
