.controls {
    &__top,
    &__bottom,
    &__nsfw {
        position: relative;

        background: #43474F;

        border: 1px solid #36393F;

        border-radius: 3px;

        display: block;

        width: 36px;
        height: 36px;

        padding: 0;

        cursor: pointer;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            content: '';

            background: $icon;

            mask-position: center center;
            mask-repeat: no-repeat;
        }

        &:hover::after {
            background: $icon-hover;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__top {
        &::after {
            mask-image: url('../images/up.svg');
        }
    }

    &__bottom {
        &::after {
            mask-image: url('../images/down.svg');
        }
    }

    &__nsfw {
        &::after {
            mask-image: url('../images/image.svg');
        }
    }

    &__separator {
        display: block;

        background: #43474F;
        border: 1px solid #36393F;
        border-radius: 3px;

        width: 36px;
        height: 4px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}
