.gallery {
    pointer-events: none;

    &__inner {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        flex-flow: column nowrap;

        width: 100%;
        height: 100%;

        pointer-events: initial;
    }

    &__header {
        background: #36393F;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 0 24px;
        height: 73px;

        z-index: 1;
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        margin: 0;

        flex: 1;

        line-height: 25px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        cursor: pointer;

        &_current {
            background: transparent;
            background-image: url('../images/handle-h.svg');
            background-position: center bottom;
            background-repeat: no-repeat;
        }
    }

    &__hide {
        background: $icon;

        mask-image: url('../images/menu-times.svg');
        mask-position: center center;
        mask-repeat: no-repeat;

        border: 0;

        display: block;

        width: 13px;
        height: 13px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;

        background: #2F3136;

        flex: 1;

        padding: 16px 0 8px 16px;

        overflow-x: hidden;
        overflow-y: auto;

        @include scrollbar($track, $thumb);
    }

    &__content-title {
        color: #8C8C8C;
        line-height: 22px;
        font-size: 16px;
        font-weight: 600;

        margin: 0 0 12px 0;
    }

    &__files {
        display: flex;
        flex-flow: row wrap;

        flex: 1;

        list-style: none;

        margin: 0;
        padding: 0;
    }

    &__file {
        position: relative;

        display: block;

        border: 0;
        border-radius: 2px;

        list-style: none;

        width: calc(25% - 8px);
        height: 0;

        padding: calc(25% - 8px) 0 0 0;
        margin: 0 8px 8px 0;
    }

    &__file-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: block;

        border: 0;
        border-radius: 2px;

        object-fit: cover;
    }

    &__file:hover &__file-preview {
        border: 4px solid rgba(0, 0, 0, 0.5);

        top: -4px;
        left: -4px;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
    }

    &__file_audio &__file-preview {
        background: transparent;
        background-image: url('../images/play.svg');
        background-position: center center;
        background-repeat: no-repeat;

        border: 2px dashed #9DA2B2;
    }

    &__file_video &__file-preview {
        border: 2px dashed #9DA2B2;
    }

    &__favorite {
        position: absolute;
        bottom: 4px;
        right: 4px;
        width: 16px;
        height: 16px;

        display: none;

        background: transparent;
        background-image: url('../images/favorite.svg');
        background-position: center center;
        background-repeat: no-repeat;

        border: 0;
        border-radius: 0;

        cursor: pointer;
    }

    &__file:hover &__favorite {
        display: block;
    }

    &__favorite:hover {
        background-image: url('../images/favorite-active.svg');
    }

    &__files_favorite &__favorite {
        background-image: url('../images/favorite-active.svg');
    }

    &__files_favorite &__favorite:hover {
        background-image: url('../images/favorite.svg');
    }

    &__search {
        display: block;

        background: transparent;
        color: #EEEEEE;

        background: transparent;
        border: 1px solid transparent;
        border-radius: 7px;

        font-size: 18px;

        height: 25px;
        padding: 0 8px;
        margin: 0 8px 16px 0;

        &:hover {
            background: #393C42;
        }

        &:focus {
            background: #36393F;
            border: 1px solid #9DA2B2;
        }
    }

    &__button {
        background: #43474F;
        color: #9DA2B2;

        border: 0;
        border-radius: 3px;

        min-width: 24px;
        height: 24px;

        flex-shrink: 0;
        align-self: center;

        margin: 16px 0;
        padding: 0 4px;

        font-size: 0.8em;
        white-space: pre;

        cursor: pointer;

        &:hover {
            background: #292B30;
        }
    }

    &__attribution {
        color: #9DA2B2;
        font-size: 12px;
        text-align: right;

        margin-right: 8px;
    }
}
