.layout {
    position: relative;

    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: scroll;

    @include scrollbar($track, $thumb);

    &__left {
        flex-shrink: 0;

        width: 16px;
    }

    &__center {
        flex: 1;

        max-width: calc(100% - 32px);
        padding-top: 16px;
    }

    &__right {
        flex-shrink: 0;

        width: 16px;
    }

    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__post-list {
        margin-bottom: 100px;
    }

    &__post-form {
        background: #36393F;

        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-flow: row nowrap;

        width: 100%;

        padding: 16px 0;

        z-index: 5;
    }

    &__controls {
        position: fixed;
        top: 70px;
        right: 16px;

        padding: 16px;
    }

    &__media-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__auth {
        position: fixed;
        top: 0;
        right: 0;

        padding: 16px;
        margin-right: 32px;

        z-index: 10;
    }

    &__auth-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 1200px) {
        &__left,
        &__right {
            width: 25%;
        }

        &__center {
            width: 50%;
            max-width: 50%;
        }

        &__menu {
            width: 22%;
        }

        &__controls {
            top: 0;
            left: 75%;
        }

        &__auth {
            margin-right: 0;
        }
    }
}
