.markup {
    &_underline {
        text-decoration: underline;
    }

    &_code,
    &_codeblock {
        background: rgba(0, 0, 0, 0.1);
        border: 0;
        border-radius: 3px;
        color: inherit;

        font-family: $monospace;
        font-style: normal;
        font-weight: normal;

        text-decoration: none;

        margin: 0;

        word-wrap: break-word;
    }

    &_code {
        display: inline;

        white-space: pre-wrap;
    }

    &_codeblock {
        display: block;

        overflow: auto;

        @include scrollbar($track, $thumb);
    }

    &_spoiler {
        background: rgba(0, 0, 0, 0.1);
        color: transparent;
        border: 0;
        border-radius: 3px;
    }

    &_spoiler:hover {
        color: inherit;
    }

    &_reflink {
        color: #E3833D;

        &::before {
            content: '>>';
        }
    }

    &_link {
        color: #E3833D;
    }

    &_quote {
        color: #3DE389;
    }

    &_dice {
        color: #3DE389;
        font-family: $monospace;
        font-size: 0.9em;
        font-style: normal;
        font-weight: bold;
    }

    &_icon_coub,
    &_icon_tiktok,
    &_icon_youtube {
        &::before {
            content: '';

            display: inline-block;

            width: 1em;
            height: 1em;

            margin-right: 0.25em;

            vertical-align: middle;

            background: #E3833D;

            mask-position: center center;
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
        }
    }

    &_icon_coub {
        &::before {
            mask-image: url('../images/coub.svg');
        }
    }

    &_icon_tiktok {
        &::before {
            mask-image: url('../images/tiktok.svg');
        }
    }

    &_icon_youtube {
        &::before {
            mask-image: url('../images/youtube.svg');
        }
    }
}
