.media-box {
    z-index: 15;

    pointer-events: none;

    &__controls {
        position: absolute;
        top: 0;
        right: 0;
        width: 96px;
        height: 100%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        background: #292B30;

        padding: 24px 0;

        z-index: 25;

        pointer-events: initial;

    }

    &__buttons {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        & > :not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;

        position: absolute;
        top: 0;
        left: 0;

        background: #43474F;

        border: 0;
        border-radius: 5px;

        overflow: hidden;

        z-index: 20;

        pointer-events: initial;
    }

    &__handle {
        flex-shrink: 0;

        width: 100%;
        height: 24px;

        overflow: hidden;

        text-align: center;
    }

    &__content_dragging &__media {
        pointer-events: none;
    }

    &__media {
        display: block;
        width: 100%;
        height: 100%;

        flex: 1;

        .tiktok-embed {
            margin: 0 !important;
        }
    }

    &__close,
    &__zoom-in,
    &__zoom-out,
    &__original,
    &__fit,
    &__download,
    &__search-icon {
        background: $icon;

        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: 100% 100%;

        border: 0;

        display: block;

        flex-shrink: 0;

        width: 16px;
        height: 16px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }
    }

    &__close {
        mask-image: url('../images/gallery-times.svg');
    }

    &__zoom-in {
        mask-image: url('../images/gallery-plus.svg');
    }

    &__zoom-out {
        mask-image: url('../images/gallery-minus.svg');
    }

    &__original {
        mask-image: url('../images/gallery-original.svg');
    }

    &__fit {
        mask-image: url('../images/gallery-fit.svg');
    }

    &__download {
        mask-image: url('../images/gallery-download.svg');
    }

    &__search-icon {
        mask-image: url('../images/gallery-search.svg');
    }

    &__search {
        position: relative;
    }

    &__search-popup {
        position: absolute;
        top: 8px;
        right: 8px;
        display: none;

        padding: 8px 8px 0 0;

        z-index: 1;
    }

    &__search:hover &__search-icon {
        background: $icon-hover;
    }

    &__search:hover &__search-popup,
    &__search-popup:hover {
        display: block;
    }

    &__search-list {
        background: #43474F;
        border-radius: 5px;

        list-style: none;
        padding: 8px;
        margin: 0;
    }

    &__search-item {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__search-link {
        color: #E3833D;
    }

    &__prev,
    &__next {
        position: relative;

        background: transparent;

        border: 0;
        border-radius: 0;

        flex-shrink: 0;

        width: 96px;
        height: 47px;

        cursor: pointer;

        &:hover {
            background-color: #1E2023;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            content: '';

            background: $icon;

            mask-position: center center;
            mask-repeat: no-repeat;
        }

        &:hover::after {
            background: $icon-hover;
        }
    }

    &__prev {
        margin: 44px 0 16px;

        &::after {
            mask-image: url('../images/gallery-up.svg');
        }
    }

    &__next {
        &::after {
            mask-image: url('../images/gallery-down.svg');
        }
    }

    &__files {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        margin-bottom: 16px;
    }

    &__file {
        position: relative;

        opacity: 0.9;

        width: 64px;
        height: 64px;

        cursor: pointer;

        &_current {
            opacity: 1;

            &::after {
                position: absolute;
                top: 50%;
                right: -16px;
                width: 7px;
                height: 14px;

                content: '';

                background: transparent;
                background-image: url('../images/handle-v.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% 100%;

                transform: translate(0, -50%);
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__preview {
        display: block;
        width: 100%;
        height: 100%;

        border: 0;
        border-radius: 5px;

        object-fit: cover;
    }

    &__file_video &__preview {
        border: 2px dashed #9DA2B2;
    }
}
