.post-form {
    &__left {
        flex-shrink: 0;
        width: 16px;
    }

    &__main {
        flex: 1;

        width: 100%;
        max-width: 100%;
    }

    &__right {
        flex-shrink: 0;
        width: 16px;
    }

    &__previews-row {
        display: flex;
        flex-flow: row nowrap;

        padding-bottom: 16px;

        & > * {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &__preview-wrapper {
        position: relative;

        cursor: pointer;

        &:hover::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            content: '';

            background: rgba(0, 0, 0, 0.5);
            background-image: url('../images/preview-times.svg');
            background-position: center center;
            background-repeat: no-repeat;

            z-index: 1;
        }
    }

    &__preview {
        display: block;

        border: 0;
        border-radius: 3px;

        width: 59px;
        height: 59px;

        object-fit: cover;
        pointer-events: none;
    }

    &__preview_audio {
        background: transparent;
        background-image: url('../images/play.svg');
        background-position: center center;
        background-repeat: no-repeat;

        border: 2px dashed #9DA2B2;
    }

    &__preview_video {
        border: 2px dashed #9DA2B2;
    }

    &__preview-add {
        display: block;

        background: transparent;
        background-image: url('../images/preview-add.svg');
        background-position: center center;
        background-repeat: no-repeat;

        border: 2px dashed #3E4249;
        border-radius: 3px;

        width: 59px;
        height: 59px;

        cursor: pointer;
    }

    &__markup-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        width: 100%;
        height: 40px;

        padding-bottom: 16px;
    }

    &__markup-row-left,
    &__markup-row-right {
        display: flex;
        flex-flow:  row  nowrap;
    }

    &__bold,
    &__italic,
    &__underline,
    &__strike,
    &__sub,
    &__sup,
    &__code,
    &__codeblock,
    &__spoiler,
    &__color {
        background: #43474F;
        color: #9DA2B2;

        border: 0;
        border-radius: 3px;

        min-width: 24px;
        height: 24px;

        padding: 0 4px;

        white-space: pre;
        cursor: pointer;

        margin-right: 8px;

        &:hover {
            background: #292B30;
        }
    }

    &__bold {
        font-weight: 700;
    }

    &__italic {
        font-style: italic;
    }

    &__underline {
        text-decoration: underline;
    }

    &__strike {
        text-decoration: line-through;
    }

    &__sub > span {
        font-size: 0.8em;
        vertical-align: sub;
    }

    &__sup > span {
        font-size: 0.8em;
        vertical-align: super;
    }

    &__code,
    &__codeblock,
    &__spoiler,
    &__color {
        font-size: 0.8em;
    }

    &__code,
    &__codeblock {
        font-family: $monospace;
    }

    &__color {
        margin-right: 12px;
    }

    &__pin {
        background: $icon;

        mask-image: url('../images/pin.svg');
        mask-position: center center;
        mask-repeat: no-repeat;

        border: 0;

        width: 16px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }

        &_pinned {
            mask-image: url('../images/pinned.svg');
        }
    }

    &__gallery {
        background: $icon;

        mask-image: url('../images/gallery.svg');
        mask-position: center center;
        mask-repeat: no-repeat;

        border: 0;

        width: 30px;
        height: 24px;

        margin: 0 19px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }

        &_active,
        &_active:hover {
            background: #9631CD;
        }
    }

    &__message-row {
        position: relative;

        display: block;

        background: #3E4249;
        border: 0;
        border-radius: 5px;

        width: 100%;
    }

    &__attachment-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        padding: 16px 16px 16px 24px;
    }

    &__attachment {
        background: $icon;

        mask-image: url('../images/attachment.svg');
        mask-position: center center;
        mask-repeat: no-repeat;

        border: 0;

        display: block;

        width: 22px;
        height: 22px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }
    }

    &__message {
        background: transparent;
        border: 0;

        display: block;

        color: #EEEEEE;
        font-family: $sans-serif;
        font-size: 16px;
        line-height: 24px;

        width: 100%;
        height: 100%;

        max-height: 50vh;
        overflow-y: auto;

        padding: 16px 64px;

        resize: none;

        @include scrollbar($track, $thumb);
    }

    &__submit-wrapper {
        position: absolute;
        top: 0;
        right: 0;

        padding: 16px 24px 16px 16px;
    }

    &__submit {
        background: $icon;

        mask-image: url('../images/submit.svg');
        mask-position: center center;
        mask-repeat: no-repeat;

        border: 0;

        display: block;

        width: 22px;
        height: 22px;

        padding: 0;

        cursor: pointer;

        &:hover {
            background: $icon-hover;
        }
    }

    @media screen and (min-width: 1200px) {
        &__left {
            width: 25%;
        }

        &__right {
            width: 25%;
        }

        &__main {
            width: 50%;
        }
    }
}
