.tooltip {
    position: absolute;
    bottom: 0;
    left: 0;

    background: #44474d;

    border: 0;
    border-radius: 3px;

    display: flex;
    flex-flow: column nowrap;

    transform: translate(-50%, 0);

    padding: 4px;

    z-index: 5;

    &__row {
        display: flex;
        flex-flow: row nowrap;

        width: 100%;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    button {
        background: #9ba1af;
        color: #3a3d4c;

        border: 0;
        border-radius: 1px;

        flex: 1;

        height: 24px;

        padding: 0 4px;

        &:not(:last-child) {
            margin-right: 4px;
        }

        white-space: nowrap;

        &:hover {
            background: #303338;
            color: #b6b9c2;
        }
    }

    &__bold {
        font-weight: 700;
    }

    &__italic {
        font-style: italic;
    }

    &__underline {
        text-decoration: underline;
    }

    &__strike {
        text-decoration: line-through;
    }

    &__sub span {
        font-size: 0.8em;
        vertical-align: sub;
    }

    &__sup span {
        font-size: 0.8em;
        vertical-align: super;
    }

    &__code,
    &__codeblock,
    &__spoiler {
        font-size: 0.8em;
    }

    &__code,
    &__codeblock {
        font-family: 'Fira Code', monospace;
    }
}
